@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --primary-font-color: hsl(0, 0%, 100%);
  --secondary-font-color: hsl(75, 94%, 57%);
  --body-bg: hsl(0, 0%, 8%);
  --container-bg: hsl(0, 0%, 12%);
  --btn-bg: hsl(0, 0%, 20%);
  --font-size: 0.875rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 3.125rem 0;
}

/* Main Container */

.main-container {
  width: 90%;
  max-width: 29.5625rem;
  margin: 0 auto;
  color: var(--primary-font-color);
  background-color: var(--container-bg);
  padding: 1.875rem 1.5625rem;
  border-radius: 0.625rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Image */
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 10.625rem;
    margin-block-end: 2.1875rem;
  }

  .img-container img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
  }

/* Name */ 
/* .name {
  font-size: 1.714em;
  font-weight: 700;
} */

/* Location */
.location {
  font-weight: 900;
  font-size: var(--font-size);
  color: var(--secondary-font-color);
  margin-top: 0.714em;
  margin-block-end: 2.5em;
}

/* Bio */
.bio {
  font-size: var(--font-size);
}

/* Social Media Area */

.social-wrapper {
  width: 100%;
  margin-block-start: 1.875rem;
}

a {
  color: var(--primary-font-color);
}

.social-media-links a {
  text-decoration: none;
  background-color: var(--btn-bg);
  padding: 0.9375rem 0;
  text-align: center;
  font-size: var(--font-size);
  font-weight: 700;
  border-radius: 0.625rem;
  transition: color, background-color .15s ease-in-out;
}
  .social-media-links {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }

  .social-media-links a:hover,
  .social-media-links a:focus {
    background-color: var(--secondary-font-color);
    color: black;
  }


/* Footer */

.attribution { 
  font-size: 0.6875rem; 
  text-align: center; 
  position: absolute;
  bottom: 0;
  color: var(--primary-font-color);
}
  .attribution a { 
    color: var(--secondary-font-color); 
  }
